@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg-mobile.svg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    padding: 2rem;

}

.logo img {
    width: 8rem;
}

main {
    margin: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image-container img {
    width: 100%;
    max-width: 400px;
}

.info-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-container h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.info-container p {

    text-align: center;
    margin: 1rem 0;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.info-container button {
    min-width: 11rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 100px;
    border: none;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons .icon {
    margin-right: 1rem;
    padding: 0.4rem;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

}

.icons .icon i {
    color: whitesmoke;
}

@media screen and (min-width:700px) and (max-width:1050px) {
    .image-container img {
        max-width: 550px;
    }

    .info-container h1 {
        font-size: 2rem;
    }

    .info-container p {
        max-width: 80%;
        font-size: 1rem;
    }
}

@media screen and (min-width:1050px) {
    body {
        padding: 2rem 6rem;
        background-image: url(images/bg-desktop.svg);
    }

    main {
        flex-direction: row;
    }

    .image-container {
        flex-basis: 50%;
    }

    .image-container img {
        min-width: 100%;
    }

    .info-container {
        margin-top: 0;
        padding: 0 3rem;
        flex-basis: 50%;
        align-items: flex-start;
    }

    .info-container h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: left;

    }

    .info-container p {
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }

    .icons {
        justify-content: flex-end;
    }
}